* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    color: #fff;
    width: 100%;
    height: 3%;
    position: fixed;
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
  }
  
  header div {
    display: flex; /* Use flexbox for inner alignment */
  }
  
  .login,
  .signup {
    margin-right: 10px; /* Adjust spacing between buttons */
  }
footer {
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    height:3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #ff0000; 
    color: #fff;
    border: none;
    border-radius: 50px; 
    cursor: pointer;
    margin: 5px;
}

button.about-faqs {
    background-color: #fff; 
    color: #000; 
}
.home {
    position: relative;
    height: 100vh;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    z-index: 0;
  }
  
  .home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/home.png);
    background-size: cover; 
    z-index: -1;
  }
  
  .home h3 {
    font-family: 'Brush Script MT', cursive;
    font-size: 48px;
    color: #fff;
    margin-top: 280px;
    margin-left: 70px;
  }
  
  .home h1 {
    font-size: 64px;
    font-weight: bold;
    color: #fff;
    margin-right: 50px;
    margin-left: 30px;
  }
  
 