body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #ff0000; /* Red background color for header */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    height: 45px; /* Set the height of the header to match the home page */
}

.icon-container {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.icon-container i {
    display: inline-block;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #ff0000; /* Red color for the arrow icon */
}

.signup-container {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border: 2px solid #ff0000;
}

.signup-box {
    text-align: center;
}

.signup-box h2 {
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ff0000;
    border-radius: 5px; /* Adjust the border-radius for roundness */
}

input[type="checkbox"] {
    margin-right: 5px;
}

.verification {
    margin-top: 10px;
}

button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px; /* Set the border-radius for roundness */
    padding: 8px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #cc0000;
}